---
layout: layouts/base.njk
testVar: true
testString: TestString
testArr: [2,3,4]
title: Handlebars Sandbox
---
<h1>{{ title }}</h1>

✅ Template Variables: {{ testVar }}
<br>
✅ Filter: {{ makeUppercase testString  }}
<br>
✅ Shortcode: {{{ sandboxSum 2 3 }}}
<br>
✅ JSON field: {{ sandbox-data.lion.size }}
<br>
✅ Subtemplate: {{> sandbox/handlebars-sandbox-child }}
<br>
✅ Pass string to subtemplate {{> sandbox/handlebars-sandbox-child name="Brad" }}
<br>
✅ Pass array to subtemplate {{> sandbox/handlebars-sandbox-child arr=testArr }}
