{% assign defaultValue = constraints-templates.Tiling_Default.constraint_flags[key]
%}{% assign icon = constraints-templates.Icons[key]
%}{% assign usedBy = key | getConstraintTemplatesThatUseKey
%}{% assign description = constraints-templates.Descriptions[key]
%}<span style="font-size: x-large;">{{ icon }}</span> <b>{{key}}</b>: {{ description }} Default {{ defaultValue }}.
{% for challenge in usedBy %}{% if forloop.first %}Used by {% endif %}<a href="{{ challenge.url }}">{{ challenge.displayName }}</a>{% if forloop.last == false %}, {% endif %}{% endfor %}