{% assign defaultConstraints = constraints-metadata.Tiling_Default %} 
{% assign icons = constraints-metadata.Icons %} 
{% assign constraints = constraints | setSolutionField %}
{% assign children = constraints.key | getChildConstraints %}

<div class="constraints{{constraints.type}}">
<h3>{{constraints.name}}</h3>
<p>{{constraints.description}}</p>
<p>Key: {{constraints.key}} ({{constraints.type}})</p>

{%- if constraints.parentKey %}
<p>Parent: <a href="{{constraints.parentKey | getUrl}}">{{constraints.parentKey}}</a></p>
{% endif %}

{%- if constraints.board %}
<p>Board: <a href="{{constraints.boardKey | getUrl }}">{{constraints.boardKey }}</a></p>
{% endif %}

{%- if constraints.pieceSupply %}
<p>Pieces: 
{%- for piecePair in constraints.pieceSupply %}
<a href="{{piecePair[0] | getUrl}}">
{{piecePair[0]}} x 
{% if piecePair[1] == -1 -%}∞
{%- else%}{{piecePair[1]}}
{%- endif%}</a>
{% if forloop.last == false %}, {%endif%}
{%endfor%}</p>
{% endif -%}

{% if constraints.constraint_flags.size == 0 %}
<p>Constraints: defaults.
{% else %}
<p>Constraints: 
{% for setting in constraints.constraint_flags -%}
  <a href="{{ setting[0] | getUrl }}" style="font-size:x-large;">{{ icons[setting[0]] }}</a> 
{% endfor -%}
</p>
{% endif %}

{%- if constraints.solution %}
  <hr>
  <b>Result</b>
  {% include result, solution:constraints.solution%}
{% endif %}

{%- if children.size > 0 %}
  <p>Children: {% include linkList, links:children %}</p>
{% endif %}

</div>