{% assign defaultConstraints = constraints-metadata.Tiling_Default %} 
{% assign icons = constraints-metadata.Icons %} 
{% assign constraints = constraints | setSolutionField %}
{% assign children = constraints.key | getChildConstraints %}

<div class="constraints" style="border: #e4ade6 solid 4px; padding: 15px;">
<h3>{{constraints.name}}</h3>
<p>{{constraints.description}}</p>
<p>Key: {{constraints.key}}</p>
{% if constraints.parentKey %}
<p>Parent: <a href="{{constraints.parentKey | getUrl}}">{{constraints.parentKey}}</a></p>
{% endif %}
<p>Type: {{constraints.type}}</p>
<p>Board: <a href="{{constraints.boardKey | getUrl }}">{{constraints.boardKey }}</a></p>
{% if constraints.pieceSupply == "varies" %}
<p>Pieces: varies</p>
{% else %}
<p>Pieces: 
{%- for piecePair in constraints.pieceSupply %}
<a href="{{piecePair[0] | getUrl}}">
{{piecePair[0]}} x 
{% if piecePair[1] == -1 %}∞{%else%}{{piecePair[1]}}{%endif%}</a>
{% if forloop.last == false %}, {%endif%}
{%endfor%}</p>
{% endif %}
<p>Constraints: {% if constraints.constraint_flags.size == 0 %}defaults.{% endif %}
{% for setting in constraints.constraint_flags -%}
  <a href="{{ setting[0] | getUrl }}" style="font-size:x-large;">{{ icons[setting[0]] }}</a> 
{% endfor -%}
</p>
{% if constraints.solution %}
  <p>Solution: {{constraints.solution | json }}</p>
{% endif %}
{% if children.size > 0 %}
  <p>Children: {% include linkList, links:children %}</p>
{% endif %}

</div>