{%- assign defaultValue = constraints-metadata.Tiling_Default.constraint_flags[key]%}
{%- assign icon = constraints-metadata.Icons[key]%}
{%- assign usedBy = key | getConstraintTemplatesThatUseKey%}
{%- assign description = constraints-metadata.Descriptions[key]-%}

<span style="font-size: x-large;">{{ icon }}</span>
<b>{{key}}</b>:
{{ description }} By default this is {{ defaultValue }}.
{% for challenge in usedBy %}
{%- if forloop.first %}This is overridden to {{ defaultValue == false }} in {% endif -%}
<a href="{{ challenge.url }}">{{ challenge.displayName }}</a>
{%- if forloop.last == false %}, {% else %}.{% endif %}
{%- endfor -%}
